
// These two act weird with linear gradient and do not work with !default to override. Don't do it
$back-color: #3FB0AC;
$back-color-secondary: #191E28BB;

$header-color: white !default;
$header-shadow-color: black !default;

$grid-color: #222222 !default;
$grid-divider-color: #000000 !default;

$cell-color: #CCCCCC !default;
$cell-hover-color: #3FB0AC !default;
$cell-select-color: #FFD47F !default;

$cell-number-color: #222222 !default;
$cell-number-auto-color: #3FB0AC !default;

$menu-back-color: #222222 !default;
$menu-color: #EEEEEE !default;
$menu-border-color: transparent !default;
$themes-border-color: white !default;
$active-theme-back-color: #3FB0AC !default;
$active-theme-color: white !default;

$options-back-color: $menu-back-color !default;
$options-color: $menu-color !default;
$options-border-color: $themes-border-color !default;

$commands-back-color: $menu-back-color !default;
$commands-color: $menu-color;

@at-root #app.theme-default {
  background: linear-gradient(45deg, $back-color-secondary 40%, $back-color, $back-color-secondary 100%);
  background-color: $back-color-secondary;
}

h1 {
  color: $header-color;
  text-shadow: 3px 3px 4px $header-shadow-color;
}

.grid {
  background-color: $grid-color;
  box-shadow: 6px 0 10px 8px $grid-color;

  .grid-divider {
    background-color: $grid-divider-color;
  }
}

.cell {
  background-color: $cell-color;
  color: $cell-number-color;

  &:hover {
    background-color: $cell-hover-color;
  }
  &.selected {
    background-color: $cell-select-color;
  }

  .auto-number {
    color: $cell-number-auto-color;
  }
}

.themes {
  background-color: $menu-back-color;
  box-shadow: 6px 8px 10px 8px $grid-color;
  color: $menu-color;

  li {
    border-color: $themes-border-color;

    &.active span {
      background-color: $active-theme-back-color;
      color: $active-theme-color;
    }
  }
}

.options {
  background-color: $options-back-color;
  border-color: $options-border-color;
  box-shadow: 6px 2px 10px 8px $grid-color;
  color: $options-color;
}

.commands {
  background-color: $options-back-color;
  box-shadow: 8px -7px 10px 6px $grid-color;
  color: $options-color;
}
