
$back-color: darken(#3FB0AC, 10);
$grid-color: #AAAAAA;
$grid-divider-color: #AAAAAA;
$cell-color: #111111;
$cell-number-color: #AAAAAA;
$cell-select-color: lighten(#FFD47F, 3);
$menu-color: #AAAAAA;
$menu-back-color: #111111;

@import 'default';

@at-root #app.theme-dim {
  background: linear-gradient(45deg, $back-color-secondary 40%, darken(#3FB0AC, 10), $back-color-secondary 100%);
  background-color: $back-color-secondary;
}
